<div class="card-container">
  <table class="card">
    <tbody>
      <tr *ngFor="let box of horizontalLine; let i=index">
        <th *ngFor="let box of verticalLine; let j=index">
          <p style='font-size:30px;' *ngIf="rendomPositionOfEnemy[i][j] ==1">
            &#9962;
          
          </p>
          <p (click)="movePlayer()" style='font-size:30px;' *ngIf="((xAxis ==j) && (yAxis ==i)) "> &#9924;</p>

        </th>

      </tr>

    
    </tbody>
  </table>
</div>






<router-outlet></router-outlet>